
.container
{
  position: absolute;
  margin: 20vh auto;
  width:29vw;
  height:29vw;
  border: 1px solid #000;
  top: 50%;
  margin-top:-15vw; 
  left: 50%;
  margin-left:-15vw;
  
}
.snake-square
{
position:absolute;
height:3.5%;
width:3.5%;
background:#000;
margin:1%;
z-index:2;
border-radius:100%;
}
.snake-food
{
position:absolute;
height:3.5%;
width:3.5%;
background:red;
border-radius:100%;
margin:1%;
z-index:1;
}
.arena
{
  position:relative;
  top:0vh;
  left:0.1vw;
  width:29.6vw;
  height:29.6vw;
}